 <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">&nbsp;</li>
        <li>
          <a href="index.php">
            <i class="mdi mdi-view-dashboard"></i> <span>{% trans "Dashboard" %}</span>
          </a>
        </li>
        <li>
          <a href="websites.php">
            <i class="mdi mdi-web"></i> <span>{% trans "Websites" %}</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
