vendor
composer.lock
tmp/*
!tmp/.gitkeep
locale
node_modules
*.po~
public/assets/js/bundle.js
.env
coverage.xml
\.php_cs\.cache

src/Twig/I18nExtension\.php
src/Twig/I18n/NodeTrans\.php
src/Twig/I18n/TokenParserTrans\.php
