*.min.css linguist-generated=true
*.min.js linguist-generated=true 
public/assets/fonts/* linguist-detectable=false
*.scss linguist-detectable=false
sql/* linguist-detectable=false
po/* linguist-detectable=false

