{% extends 'base.twig' %}

{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
    <div class="col-md-12 d-flex justify-content-center">
        <div class="col-md-4">
            <form class="form-signin" method="POST">
            <div class="text-center mb-4">
                <i class="mdi mdi-account mdi-48"></i>
                <h1 class="h3 mb-3 font-weight-normal">{% trans "Login" %}</h1>
            </div>
            {{ html(messages) }}
            {% if loggedIn %}
                <meta http-equiv="refresh" content="1; URL=index.php" />
                <div class="card mb-2">
                    <div class="card-body">
                        <a href="index.php">{% trans "Redirecting to homepage" %}</a>
                    </div>
                </div>
            {% endif %}
            <div class="form-label-group">
                <input type="username" id="username" name="username" value="{{ _post.username }}" class="form-control" placeholder="{% trans "Username" %}" required autofocus>
                <label for="username">{% trans "Username" %}</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="{% trans "Password" %}" required>
                <label for="password">{% trans "Password" %}</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="login" value="login">{% trans "Sign in" %}</button>
            <p class="mt-5 mb-3 text-muted text-right"><a href="register.php">{% trans "Register" %}</a></p>
            </form>
        </div>
    </div>
{% endblock %}