<!doctype html>
<html lang="{{ locale }}">
  <head>
      {% include 'html/head+meta.twig' %}
      {% include 'html/head+links.twig' %}
      {% block head %}
      {% endblock %}
  </head>
  <body class="{% block class_body %}{% endblock %}">
    <header>
      {% block header %}
      {% endblock %}
    </header>
    <main role="main">
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
</html>