<!doctype html>
<html lang="{{ locale }}">
  <head>
      {% include 'html/head+meta.twig' %}
      <title>Account Manager | {% block title %}{% endblock %}</title>
      {% include 'html/head+links.twig' %}
      {% block head %}
      {% endblock %}
  </head>
  <body class="hold-transition skin-blue sidebar-mini {% block class_body %}{% endblock %}">
    <div class="wrapper">
      <header class="main-header">
        {% include 'html/navbar.twig' %}
        {% block header %}
        {% endblock %}
      </header>
      {% include 'html/sidebar.twig' %}
      <div class="content-wrapper">
        {% block content %}
        {% endblock %}
      </div>
      <footer>
        {% block footer %}
        {% endblock %}
      </footer>
    </div>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/AdminLTE.min.js') }}"></script>
  </body>
</html>