{% extends 'base+login.twig' %}

{% block title %}{% trans "Websites" %}{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            {% trans "Websites" %}
            <small>{% trans "my websites" %}</small>
        </h1>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans "My websites" %}</h3>
                <div class="pull-right col-md-2">
                    <a class="btn btn-block btn-primary btn-flat" href="?action=add">{% trans "Add" %}</a>
                </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Label</th>
                    </tr>
                </thead>
                <tbody>
                {% for website in websites.websites() %}
                    <tr>
                        <td>{{ website.id }}</td>
                        <td>{{ website.label }}</td>
                    </tr>
                {% endfor %}
              </table>
            </div>
          </div>
    </section>
{% endblock %}